.clearfix
  = f.label :name, t("activerecord.attributes.recipe.name", :default => "Name"), :class => :label
  .input
    = f.text_field :name, :class => 'text_field'

.form-actions
  %button.btn-primary{:type => "submit"} Save
  %a.btn{:href => recipes_path} Cancel
