.clearfix
  = f.label :name, "Name", :class => :label
  .input
    = f.text_field :name, :class => 'text_field'
  = f.label :name,"Description", :class => :label
  .input
    = f.text_area :description, :class => 'text_area', 'rows' => 3

.form-actions
  %button.btn-primary{:type => "submit"} Save
  %a.btn{:href => recipes_path} Cancel
