%h1 Recipes
%table{:class => "table-striped"}
  %thead
    %tr
      %th ID
      %th Name
      %th Created at
      %th Actions
  %tbody
    - recipes.each do |recipe|
      %tr
        %td= recipe.id
        %td= link_to recipe.name, recipe_path(recipe)
        %td= recipe.created_at
        %td
          %a.btn.btn-info{:href => recipe_path(recipe)} Show
          %a.btn.btn-warning{:href => edit_recipe_path(recipe)} Edit
          %a.delete{:href => recipe_path(recipe), :method => :delete, :confirm => "Are you sure?"}

= link_to "New", new_recipe_path, :class => 'btn btn-primary'
