%h1 Recipes
%table{:class => "table-striped"}
  %thead
    %tr
      %th ID
      %th Name
      %th Description
      %th Actions
  %tbody
    - recipes.each do |recipe|
      %tr
        %td= recipe.id
        %td= link_to recipe.name, recipe_path(recipe)
        %td= recipe.description
        %td
          %a.btn{:href => recipe_path(recipe)} Show
          %a.warning-button{:href => edit_recipe_path(recipe)} Edit
          %a.delete-button{:href => recipe_path(recipe), 'data-method' => 'delete', 'data-confirm' => "Are you sure?"}

= link_to "New", new_recipe_path, :class => 'btn btn-primary'
