%label{:class => "label"} Name:
%p= recipe.name
%label{:class => "label"} Description:
%p= recipe.description

.form-actions
  %a.btn{:href => recipes_path} Back
  %a.warning-button{:href => edit_recipe_path(recipe)} Edit
  %a.delete-button{:href => recipe_path(recipe), 'data-method' => 'delete', 'data-confirm' => "Are you sure?"}
