%label{:class => "label"}= t("activerecord.attributes.recipe.name", :default => t("activerecord.labels.name", :default => "Name")) + ":"
%p= recipe.name

.form-actions
  %a.btn{:href => recipes_path} Back
  %a.warning-button{:href => edit_recipe_path(recipe)} Edit
  %a.delete-button{:href => recipe_path(recipe), 'data-method' => 'delete', 'data-confirm' => "Are you sure?"}
